/* Classes */

body {
  height: 10vh;
  width: 100vw;
  position: relative;
  z-index: 1;
  background-image: url("bg.jpeg");
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

tr {
  text-align: center;
}

.highlight {
  color: red;
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

/* IDs */
#header {
  background-color: #333;
  color: #080606;
  padding: 20px;
  text-align: center;
}

#footer {
  background-color: #333;
  color: #000000;
  padding: 10px;
  text-align: center;
}


.table {
  display: grid;
  place-items: center;
}

.table table {
  width: 50%;
}

.table :is(table, td, th) {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-collapse: collapse;
}

.table :is(td, th) {
  padding: 0.2rem 0.5rem;
}

/* Additional CSS Properties */
.container {
  margin-top: 50px;
}

.highlight {
  text-decoration: underline;
}

.image {
  border: 1px solid #000000;
  margin: 10px;
}

